@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
$font-family-sans-serif: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;

$body-bg: #1abc9c;
$navbar-default-bg: #16a085;
$navbar-default-link-color: #ecf0f1;
$brand-primary: #f1c40f;
$jumbotron-bg: #ecf0f1;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

.navbar-brand {
    font-weight: 700;
}
